<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Index</title>
</head>
<body>
    <h1>The Dojo Index Page</h1>
    <h3>Create a User</h3>
    <form action='/show' method='post'>
        {% csrf_token %}
        Name: <input type='text' name='name'><br><br>
        Location: <select name='locations' id="locations">
                    <option value="sanfran">San Francisco</option>
                    <option value="dc">DC</option>
                    <option value="seattle">Seattle</option>
                    <option value="newyork">New York</option>
                </select><br><br>
        
        Favorite Language: <select name='languages' id="languages">
                            <option value="python">Python</option>
                            <option value="javascript">Javascript</option>
                            <option value="c#">C#</option>
                            <option value="html">HTML</option>
                        </select><br><br>

        Leave a comment: <textarea name="comment" rows="10" cols="30"></textarea><br><br>
        <button type='submit'>Create User</button>
    </form>




</body>
</html>